@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Involve-Regular';
  src: url('./fonts/Involve-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Involve-Medium';
  src: url('./fonts/Involve-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Involve-SemiBold';
  src: url('./fonts/Involve-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Involve-Bold';
  src: url('./fonts/Involve-Bold.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Involve-Medium', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}


html {
  scroll-behavior: unset !important;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden !important;
}

.carousel-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
}

.carousel-transition {
  transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.will-change-transform {
  will-change: transform;
}

.background-fade {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.background-fade {
  opacity: 1;
}

.line{
  line-height: 1;
}

.bg-info-section{
  background-image: url("/src/assets/images/yellow_2.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  z-index: 1;
}

.bg-news{
  background-image: url("/src/assets/images/yellow_1.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}

/* UI per scroolbar */

/* Per i browser basati su WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px !important; /* Larghezza della scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #FFBF55; 
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  background: black; 
}

/* Per Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #FFBF55 black;
}

/* Per Edge */
body {
  scrollbar-width: thin;
  scrollbar-color: #FFBF55 black;
}

@keyframes scroll {
  0% { 
      transform: translateX(0); 
  }
  100% { 
      transform: translateX(calc(-250px * 7)); 
  }
}

/* Slider Partners*/
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(300px * 14);
}

/* Filtro colore nero  */
.slider img {
  filter: brightness(0) grayscale(100%);
  -webkit-filter: brightness(0) grayscale(100%);
  -moz-filter: brightness(0) grayscale(100%);
  -ms-filter: brightness(0) grayscale(100%);
  -o-filter: brightness(0) grayscale(100%);
}

/* Modifica bordo Squircle card news */
.news {
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: cover;
  width: 100% !important;
  height: 100% !important;
  clip-path: inset(0 0 50% 0);
  position: absolute;
}



